<!DOCTYPE html>	
<html lang="en">
<head>
	 <meta charset="UTF-8">
	 <title>Chat</title>    

	 <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
	 <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/styles/cerulean/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/styles/cerulean/bootswatch.min.css">
      <link rel="stylesheet" type="text/css" href="/static/styles/forma.css">
</head>
<body>

 <!--evento onsubmit para que no recarge la pagina-->
<form onsubmit="return addMessage(this)">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
              <img id="logo" alt="SIGES" src="/static/imagenes/interacticom.png" style="height: 32px; width: 143px" /></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">INICIO<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">                
                <li><a href="../sit/act.aspx">Ayuda Tecnica</a></li>
                <li class="divider"></li>
                <li><a href="../sit/exp_ficha.aspx">Exportar a Excel</a></li>                                         
               </ul>
            </li>
            <li>
              <a href="../sitio_mobil/Login_mobil.aspx">INICIAR SESION</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                  <!--Ubicacion parte izquierda de la Barra Navegadora-->
           </ul>
         </div>
       </div>
      </div>
      <br/>
      <!--CONTENIDO-->
      <div id="conte-principal" class="container">
      	 <!--Div donde se visualiza el contenido-->
         <div class="panel panel-success">
 		 	<div class="panel-heading">
   			 	<h3 class="panel-title">CHATEDU</h3>
  			</div>
  		    <div id="messages" class="panel-body">
           
            </div>
         </div>       
         
         <div class="row sinpadding">
                <div class="col-xs-12 col-sm-12 col-md-12">   
                        <b>Seleccione Avatar</b>
                       <img id="usu_hom" class="puntero" onclick="asig_avatar_hom();return false;" alt="SIGES" src="/static/imagenes/usuario.png" style="height: 20px; width: 20px" />
                       <img id="usu_muj" class="puntero" onclick="asig_avatar_mujer();return false;" alt="SIGES" src="/static/imagenes/mujer.png" style="height: 20px; width: 20px" />
                </div>               
         </div>  
         <div class="row sinpadding">
            <div class="col-xs-4 col-sm-4 col-md-4"> 
                <input type="text" id="username" class="form-control" placeholder="Tu Nombre">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                 <input type="text" id="texto" class="form-control" placeholder="Cuentanos algo...">
            </div> 
         </div>
        <div class="row sinpadding">
                <div class="col-xs-12 col-sm-12 col-md-12">     
                        <input type="submit" value="enviar"  class="btn btn-success">
                </div>               
         </div>  
      
     </div>  
     <input type="text" id="ruta_imagen" style="display: none;" class="form-control" placeholder="Ruta Imagen por ahora">
</form> 
    <script type="text/javascript" src="/static/js/chat.js"></script> 
    <script type="text/javascript" src="/static/styles/cerulean/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/styles/cerulean/bootswatch.js"></script>
</body>
</html>