<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

	<style>
		.input-group {
			width: 30%;
			margin: 0 auto;
			margin-top: 50px;
		}
		span {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div>
   <h1>Por favor ingresar Contraseña</h1>
		<input class="form-control" type="password"/>		
	</div>
</body>
</html>
