   <% include plantillas/nav2.ejs %> 
    <link rel="stylesheet" type="text/css" href="/static/styles/list_eventos.css">
    <script type="text/javascript" src="/static/js/list_eventos.js"></script> 
    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul id="listados_de_eventos" class="event-list">
				  
				</ul>	
			</div>
		</div>
	</div>

 <% include piepagina.ejs %>