   
    <script type="text/javascript" src="/static/styles/cerulean/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/styles/cerulean/bootswatch.js"></script>
</body>
</html>