 <% include plantillas/nav2.ejs %> 
 <div id="conte-principal" class="container">
  <div class="row sinpadding">
  <div class="col-xs-12 col-sm-12 col-md-12"> 
	         <img src="" id="frame" style="width:680px; height:320px"/>
              <div id="logger"></div>

            </div> 
        </div>
 </div> 
 <script type="text/javascript">
   var img = document.getElementById("frame");  
  var logger = document.getElementById('logger');

  /* SOCKET.IO */

  var socket = io.connect(window.document.location.host);

  socket.on('connect', function () {
    log('connected');
  });

  socket.on('disconnect', function () {
    log('disconnected');
  });

  socket.on('data', function(data) {
    img.src = data;
  });


  /* END SOCKET.IO */

  function log(message) {
     logger.innerHTML = logger.innerHTML + message + "<br/>";
  };
  </script>
  <link rel="stylesheet" type="text/css" href="/static/styles/centralogo.css">
   <% include piepagina.ejs %>