 <% include plantillas/nav2.ejs %> 
 <div id="conte-principal" class="container">
  <div class="row sinpadding">
  <div class="col-xs-12 col-sm-12 col-md-12"> 
	     <img id="play" class="img-responsive">
	       <div id="logger"></div>

            </div> 
        </div>
 </div> 
 <script type="text/javascript">
     var socket = io();
     socket.on('stream',function(image){
      var img = document.getElementById("play");
      img.src = image;
      //visualizar la cadena binaria que envia
      //$("#logger").text(image);

     });
  </script>
  <link rel="stylesheet" type="text/css" href="/static/styles/centralogo.css">
   <% include piepagina.ejs %>
